$blue-100: #ebf7ff;
$blue-200: #d6efff;
$blue-300: #ade0ff;
$blue-400: #5cc0ff;
$blue-500: #32b0ff;
$blue-600: #0aa1ff;
$blue-700: #088ae0;
$blue-800: #0065a3;

$green-100: #edfdf7;
$green-200: #dafbee;
$green-300: #a3f5d6;
$green-400: #23e79b;
$green-500: #16c784;
$green-600: #12a56d;
$green-700: #038155;
$green-800: #0a5c3d;

$yellow-100: #fefae5;
$yellow-200: #fef4c6;
$yellow-300: #fee793;
$yellow-400: #fed861;
$yellow-500: #fec62d;
$yellow-600: #daa320;
$yellow-700: #b68316;
$yellow-800: #93640e;

$red-100: #fdeded;
$red-200: #fbdadc;
$red-300: #f5a3a7;
$red-400: #ef6b72;
$red-500: #ea3943;
$red-600: #e8212b;
$red-700: #cb151e;
$red-800: #941016;

$primary-100: #ebefff;
$primary-200: #d7e0fe;
$primary-300: #9bb0fd;
$primary-400: #5f81fc;
$primary-500: #3861fb;
$primary-600: #0f42fa;
$primary-700: #0433dc;
$primary-800: #0325a0;


$gray-10: #f9fbfd;
$gray-20: #e7e8ee;
$gray-30: #dbdde6;
$gray-40: #cfd2de;
$gray-50: #c3c6d5;
$gray-60: #b7bbcd;
$gray-70: #abb0c4;
$gray-80: #9fa5bc;
$gray-90: #9399b4;
$gray-100: #878eab;
$gray-110: #7b83a3;
$gray-120: #6f779b;
$gray-130: #646d90;
$gray-140: #5c6484;
$gray-150: #545b78;
$gray-160: #4b526c;
$gray-170: #434960;
$gray-180: #3b4054;
$gray-190: #323748;
$gray-200: #2a2d3c;
$gray-210: #222531;
$gray-220: #191b24;
$gray-230: #111218;
$gray-240: #08090c;
